.thumbnail-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.thumbnail-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.thumbnail {
  flex: 0 0 auto;
  margin-right: 8px;
}

.image-container {
  position: relative;
}

.image-slide {
  transition: transform 0.5s ease-in-out;
}

.image-slide.slide-left {
  transform: translateX(-100%);
}

.image-slide.slide-right {
  transform: translateX(100%);
}